<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
        <%= @user.password %>
      </h1>
    </section>
  </aside>
</div>



